[build]
builder = "dockerfile"
dockerfilePath = "apps/manager/Dockerfile"

[deploy]
healthcheckPath = "/api/auth/session"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
